<section class="bg_dark">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading_s2 heading_light text-center">
            <h5>Countdown Style 2:</h5>
          </div>
          <div
            class="countdown_time countdown_white"
            data-time="2033/09/22 12:30:15"
          ></div>
        </div>
      </div>
    </div>
  </section>
  