<div class="top-header bg_dark light_skin">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <ul class="contact_detail list_none text-center text-md-left">
          <li>
            <a href="tel:9770323649">
              <i class="ti-mobile"></i><small>123-456-7890</small></a
            >
          </li>
          <li>
            <a href="mailto:prajapatiankur@gmail.com">
              <i class="ti-email"></i><small>example@example.com</small></a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul
          class="list_none social_icons text-center social_white text-md-right mt-2 mt-md-0"
        >
          <li>
            <a href="#"><i class="ion-social-instagram-outline"></i></a>
          </li>
          <li>
            <a href="#"><i class="ion-social-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="ion-social-youtube-outline"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
