<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="Anil z" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Want to start your yoga classes website online? Download yoga studio Premium website html template for your classes and course."
    />
    <meta
      name="keywords"
      content="yoga teacher, yoga responsive, yoga instructor, yoga studio, yoga theme, yoga blog, yoga website, yoga fitness, yoga templates, meditation website templates"
    />

    <!-- SITE TITLE -->
    <title>Contact | Dhyana - Yoga Studio & Meditation HTML Template</title>
    <!-- Favicon Icon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../images/favicon.png"
    />
    <!-- Animation CSS -->
    <link rel="stylesheet" href="../stylesheets/animate.css" />
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="../stylesheets/ionicons.min.css" />
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../stylesheets/all.min.css" />
    <!-- Flaticon Font CSS -->
    <link rel="stylesheet" href="../stylesheets/flaticon.css" />
    <!-- Themify Font CSS -->
    <link rel="stylesheet" href="../stylesheets/themify-icons.css" />
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="../stylesheets/owl.carousel.min.css" />
    <link rel="stylesheet" href="../stylesheets/owl.theme.css" />
    <link rel="stylesheet" href="../stylesheets/owl.theme.default.min.css" />
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="../stylesheets/magnific-popup.css" />
    <!-- jquery-ui CSS -->
    <link rel="stylesheet" href="../stylesheets/jquery-ui.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/responsive.css" />
    <link
      rel="stylesheet"
      id="layoutstyle"
      href="../stylesheets/theme-default.css"
    />
  </head>

  <body>
    <!-- LOADER -->
    <div id="preloader">
      <div class="loading_wrap">
        <img src="../images/loading_logo.png" alt="logo" />
      </div>
    </div>
    <!-- END LOADER -->

    <!-- START HEADER -->
    <header
      class="header_wrap fixed-top dark_skin main_menu_uppercase main_menu_weight_600 transparent_header"
    >
      <div class="container" style="min-width: 85vw">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="/">
            <img class="logo_light" src="../images/logo_white.png" alt="logo" />
            <img class="logo_dark" src="../images/logo_dark.png" alt="logo" />
            <img
              class="logo_default"
              src="../images/logo_dark.png"
              alt="logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="ion-android-menu"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav">
              <li>
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li>
                <a class="nav-link" href="/about">About us</a>
              </li>
              <li>
                <a class="nav-link" href="/courses">Courses</a>
              </li>
              <li>
                <a class="nav-link" href="/schedule">Schedule</a>
              </li>
              <li>
                <a class="nav-link" href="/shop">Shop</a>
              </li>
              <li>
                <a class="nav-link active" href="/contact">Contact us</a>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav attr-nav align-items-center">
            <li>
              <a
                class="btn btn-default rounded-0 animation"
                href="#"
                data-animation="fadeInUp"
                data-animation-delay="0.7s"
                >Login/Register</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <section id="page1"
      class="breadcrumb_section page-title-light background_bg overlay_bg_blue_70"
      data-img-src="../images/breadcrumb_bg4.jpg"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-12 text-center">
            <div class="page-title">
              <h1>Contact Us</h1>
            </div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Contact
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION CONTACT -->
    <section>
      <div class="container">
        <div class="row">
          <div
            class="col-lg-4 col-md-6 animation"
            data-animation="fadeInUp"
            data-animation-delay="0.2s"
          >
            <div class="heading_s2">
              <span class="sub_heading">Contact Us</span>
              <h3>Get In touch</h3>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
              blandit massa enim. Nullam id varius nunc id varius nunc.
            </p>
            <ul class="contact_info contact_info_style2 list_none">
              <li>
                <span class="ti-mobile"></span>
                <p>+123 456 7890</p>
              </li>
              <li>
                <span class="ti-email"></span>
                <a href="mailto:info@yourmail.com">info@yourmail.com</a>
              </li>
              <li>
                <span class="ti-location-pin"></span>
                <address>256 Mohra Rd, North London, UK</address>
              </li>
            </ul>
          </div>
          <div
            class="col-lg-8 col-md-6 mt-4 mt-lg-0 animation"
            data-animation="fadeInUp"
            data-animation-delay="0.3s"
          >
            <div class="field_form icon_form">
              <form method="post" name="enq">
                <div class="row">
                  <div class="form-group col-lg-6">
                    <div class="form-input">
                      <span>
                        <i class="ti-user"></i>
                      </span>
                      <input
                        required="required"
                        placeholder="Enter Name *"
                        id="first-name"
                        class="form-control"
                        name="name"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-lg-6">
                    <div class="form-input">
                      <span>
                        <i class="ti-email"></i>
                      </span>
                      <input
                        required="required"
                        placeholder="Enter Email *"
                        id="email"
                        class="form-control"
                        name="email"
                        type="email"
                      />
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <div class="form-input">
                      <span>
                        <i class="ti-folder"></i>
                      </span>
                      <input
                        placeholder="Enter Subject"
                        id="subject"
                        class="form-control"
                        name="subject"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-lg-12">
                    <div class="form-input">
                      <span>
                        <i class="ti-comments"></i>
                      </span>
                      <textarea
                        required="required"
                        placeholder="Message *"
                        id="description"
                        class="form-control"
                        name="message"
                        rows="5"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <button
                      type="submit"
                      title="Submit Your Message!"
                      class="btn btn-default"
                      id="submitButton"
                      name="submit"
                      value="Submit"
                    >
                      Submit
                    </button>
                  </div>
                  <div class="col-lg-12 text-center">
                    <div id="alert-msg" class="alert-msg text-center"></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION CONTACT -->

    <!-- START SECTION MAP -->
    <div class="map_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 p-0">
            <div
              class="contact_map animation"
              data-animation="fadeInUp"
              data-animation-delay="0.2s"
            >
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193229.77301255226!2d-74.05531241936525!3d40.823236500441624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f613438663b5%3A0xce20073c8862af08!2sW+123rd+St%2C+New+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1533565007513"
                allowfullscreen=""
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SECTION MAP -->

    <!-- START FOOTER -->
    <%- include('./elements/footer') %>
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none"
      ><i class="ion-ios-arrow-up"></i
    ></a>

    <!-- Latest jQuery -->
    <script src="../javascripts/jquery-1.12.4.min.js"></script>
    <!-- jquery-ui js -->
    <script src="../javascripts/jquery-ui.js"></script>
    <!-- popper min js -->
    <script src="../javascripts/popper.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="../javascripts/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="../javascripts/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="../javascripts/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="../javascripts/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="../javascripts/parallax.js"></script>
    <!-- jquery dd js  -->
    <script src="../javascripts/jquery.dd.min.js"></script>
    <!-- countdown js  -->
    <script src="../javascripts/jquery.countdown.min.js"></script>
    <!-- jquery.counterup.min js -->
    <script src="../javascripts/jquery.counterup.min.js"></script>
    <!-- jquery.parallax-scroll js -->
    <script src="../javascripts/jquery.parallax-scroll.js"></script>
    <!-- fit video  -->
    <script src="../javascripts/jquery.fitvids.js"></script>
    <!-- imagesloaded js -->
    <script src="../javascripts/imagesloaded.pkgd.min.js"></script>
    <!-- isotope min js -->
    <script src="../javascripts/isotope.min.js"></script>
    <!-- cookie js -->
    <script src="../javascripts/js.cookie.js"></script>
    <!-- scripts js -->
    <script src="../javascripts/scripts.js"></script>
  </body>
</html>
