<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="Anil z" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Want to start your yoga classes website online? Download yoga studio Premium website html template for your classes and course."
    />
    <meta
      name="keywords"
      content="yoga teacher, yoga responsive, yoga instructor, yoga studio, yoga theme, yoga blog, yoga website, yoga fitness, yoga templates, meditation website templates"
    />

    <!-- SITE TITLE -->
    <title>Courses | Dhyana - Yoga Studio & Meditation HTML Template</title>
    <!-- Favicon Icon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../images/favicon.png"
    />
    <!-- Animation CSS -->
    <link rel="stylesheet" href="../stylesheets/animate.css" />
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="../stylesheets/ionicons.min.css" />
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../stylesheets/all.min.css" />
    <!-- Flaticon Font CSS -->
    <link rel="stylesheet" href="../stylesheets/flaticon.css" />
    <!-- Themify Font CSS -->
    <link rel="stylesheet" href="../stylesheets/themify-icons.css" />
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="../stylesheets/owl.carousel.min.css" />
    <link rel="stylesheet" href="../stylesheets/owl.theme.css" />
    <link rel="stylesheet" href="../stylesheets/owl.theme.default.min.css" />
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="../stylesheets/magnific-popup.css" />
    <!-- jquery-ui CSS -->
    <link rel="stylesheet" href="../stylesheets/jquery-ui.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/responsive.css" />
    <link
      rel="stylesheet"
      id="layoutstyle"
      href="../stylesheets/theme-default.css"
    />
  </head>

  <body>
    <!-- LOADER -->
    <div id="preloader">
      <div class="loading_wrap">
        <img src="../images/loading_logo.png" alt="logo" />
      </div>
    </div>
    <!-- END LOADER -->

    <!-- START HEADER -->
    <header
      style="background: #fff"
      class="header_wrap fixed-top dark_skin main_menu_uppercase main_menu_weight_600 transparent_header"
    >
      <%- include('./elements/topheader'); %>
      <div class="container" style="min-width: 85vw">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="/">
            <img class="logo_light" src="../images/logo_white.png" alt="logo" />
            <img class="logo_dark" src="../images/logo_dark.png" alt="logo" />
            <img
              class="logo_default"
              src="../images/logo_dark.png"
              alt="logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="ion-android-menu"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav">
              <li>
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li>
                <a class="nav-link" href="/about">About us</a>
              </li>
              <li>
                <a class="nav-link" href="/classes">Classes</a>
              </li>
              <li>
                <a class="nav-link active" href="/courses">Courses</a>
              </li>
              <li>
                <a class="nav-link" href="/shop">Shop</a>
              </li>
              <li>
                <a class="nav-link" href="/contact">Contact us</a>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav attr-nav align-items-center">
            <li>
              <div
                id="loginButton"
                class="btn btn-default rounded-0 animation"
                data-animation="fadeInUp"
                data-animation-delay="0.7s"
              >
                Login
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- Form Popup -->
    <%- include('./elements/loginAndREgisterForm') %>
    <!-- Form Popup -->

    <!-- START SECTION BREADCRUMB -->
    <section
      id="page1"
      class="breadcrumb_section page-title-light background_bg bg_fixed overlay_bg_blue_70"
      data-img-src="../images/breadcrumb_bg2.jpg"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-12 text-center">
            <div class="page-title">
              <h1>Our Courses</h1>
            </div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Courses
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION GALLERY -->
    <section class="pb_70">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="grid_container gutter_medium grid_col3">
              <li class="grid-sizer"></li>
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small1.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item1.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <div
                    class="carousel_slider owl-carousel owl-theme dots_white"
                    data-autoplay="true"
                    data-loop="true"
                    data-animate-in="fadeIn"
                    data-animate-out="fadeOut"
                    data-autoplay-timeout="3000"
                    data-items="1"
                  >
                    <a href="#" class="image_link">
                      <img
                        src="../images/gallery_item_small3.jpg"
                        alt="image"
                      />
                    </a>
                    <a href="#" class="image_link">
                      <img
                        src="../images/gallery_item_small4.jpg"
                        alt="image"
                      />
                    </a>
                    <a href="#" class="image_link">
                      <img
                        src="../images/gallery_item_small5.jpg"
                        alt="image"
                      />
                    </a>
                  </div>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item3.jpg" class="image_popup"
                        ><i class="ion-images"></i
                      ></a>
                      <a
                        href="../images/gallery_item4.jpg"
                        class="image_popup d-none"
                      ></a>
                      <a
                        href="../images/gallery_item5.jpg"
                        class="image_popup d-none"
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small2.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item2.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small6.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item6.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small7.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item7.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small8.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item8.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <div
                    class="carousel_slider owl-carousel owl-theme dots_white"
                    data-autoplay="true"
                    data-loop="true"
                    data-autoplay-timeout="3000"
                    data-items="1"
                  >
                    <a href="#" class="image_link">
                      <img
                        src="../images/gallery_item_small9.jpg"
                        alt="image"
                      />
                    </a>
                    <a href="#" class="image_link">
                      <img
                        src="../images/gallery_item_small10.jpg"
                        alt="image"
                      />
                    </a>
                  </div>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item9.jpg" class="image_popup"
                        ><i class="ion-images"></i
                      ></a>
                      <a
                        href="../images/gallery_item10.jpg"
                        class="image_popup d-none"
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small11.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item11.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small12.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item12.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small13.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item13.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small14.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item14.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small15.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item15.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION GALLERY -->

    <!-- START FOOTER -->
    <%- include('./elements/footer') %>
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none"
      ><i class="ion-ios-arrow-up"></i
    ></a>

    <!-- Latest jQuery -->
    <script src="../javascripts/jquery-1.12.4.min.js"></script>
    <!-- jquery-ui js -->
    <script src="../javascripts/jquery-ui.js"></script>
    <!-- popper min js -->
    <script src="../javascripts/popper.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="../javascripts/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="../javascripts/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="../javascripts/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="../javascripts/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="../javascripts/parallax.js"></script>
    <!-- jquery dd js  -->
    <script src="../javascripts/jquery.dd.min.js"></script>
    <!-- countdown js  -->
    <script src="../javascripts/jquery.countdown.min.js"></script>
    <!-- jquery.counterup.min js -->
    <script src="../javascripts/jquery.counterup.min.js"></script>
    <!-- jquery.parallax-scroll js -->
    <script src="../javascripts/jquery.parallax-scroll.js"></script>
    <!-- fit video  -->
    <script src="../javascripts/jquery.fitvids.js"></script>
    <!-- imagesloaded js -->
    <script src="../javascripts/imagesloaded.pkgd.min.js"></script>
    <!-- isotope min js -->
    <script src="../javascripts/isotope.min.js"></script>
    <!-- cookie js -->
    <script src="../javascripts/js.cookie.js"></script>
    <!-- scripts js -->
    <script src="../javascripts/scripts.js"></script>
  </body>
</html>
