<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="Anil z" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Want to start your yoga classes website online? Download yoga studio Premium website html template for your classes and course."
    />
    <meta
      name="keywords"
      content="yoga teacher, yoga responsive, yoga instructor, yoga studio, yoga theme, yoga blog, yoga website, yoga fitness, yoga templates, meditation website templates"
    />

    <!-- SITE TITLE -->
    <title>Shop | Dhyana - Yoga Studio & Meditation HTML Template</title>
    <!-- Favicon Icon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../images/favicon.png"
    />
    <!-- Animation CSS -->
    <link rel="stylesheet" href="../stylesheets/animate.css" />
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="../stylesheets/ionicons.min.css" />
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../stylesheets/all.min.css" />
    <!-- Flaticon Font CSS -->
    <link rel="stylesheet" href="../stylesheets/flaticon.css" />
    <!-- Themify Font CSS -->
    <link rel="stylesheet" href="../stylesheets/themify-icons.css" />
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="../stylesheets/owl.carousel.min.css" />
    <link rel="stylesheet" href="../stylesheets/owl.theme.css" />
    <link rel="stylesheet" href="../stylesheets/owl.theme.default.min.css" />
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="../stylesheets/magnific-popup.css" />
    <!-- jquery-ui CSS -->
    <link rel="stylesheet" href="../stylesheets/jquery-ui.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/responsive.css" />
    <link
      rel="stylesheet"
      id="layoutstyle"
      href="../stylesheets/theme-default.css"
    />
  </head>

  <body>
    <!-- LOADER -->
    <div id="preloader">
      <div class="loading_wrap">
        <img src="../images/loading_logo.png" alt="logo" />
      </div>
    </div>
    <!-- END LOADER -->

    <!-- START HEADER -->
    <header
    style="background: #fff"
      class="header_wrap fixed-top dark_skin main_menu_uppercase main_menu_weight_600 transparent_header"
    >
      <%- include('./elements/topheader'); %>
      <div class="container" style="min-width: 85vw">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="/">
            <img class="logo_light" src="../images/logo_white.png" alt="logo" />
            <img class="logo_dark" src="../images/logo_dark.png" alt="logo" />
            <img
              class="logo_default"
              src="../images/logo_dark.png"
              alt="logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="ion-android-menu"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarSupportedContent"
          >
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li>
              <a class="nav-link" href="/about">About us</a>
            </li>
            <li>
              <a class="nav-link" href="/classes">Classes</a>
            </li>
            <li>
              <a class="nav-link" href="/courses">Courses</a>
            </li>
            <li>
              <a class="nav-link active" href="/shop">Shop</a>
            </li>
            <li>
              <a class="nav-link" href="/contact">Contact us</a>
            </li>
          </ul>
          </div>
          <ul class="navbar-nav attr-nav align-items-center">
            <li>
              <div
                id="loginButton"
                class="btn btn-default rounded-0 animation"
                data-animation="fadeInUp"
                data-animation-delay="0.7s"
              >
                Login
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- Buy Now -->
    <div class="formCover">
      <div class="form">
        <img src="../images/benifits_img_bg.png" alt="" />
        <form action="/buy/">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Email address"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Full Name"
              name="name"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Number</label>
            <input
              type="tel"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Mobile Number"
              name="number"
            />
          </div>
          <input
            type="submit"
            class="btn btn-primary"
            style="background-color: rgb(226, 27, 70); border: none"
          />
        </form>
      </div>
    </div>
    <!-- Buy Now -->

    <!-- START SECTION BREADCRUMB -->
    <section
      id="page1"
      class="breadcrumb_section page-title-light background_bg bg_fixed overlay_bg_blue_70"
      data-img-src="../images/breadcrumb_bg2.jpg"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-12 text-center">
            <div class="page-title">
              <h1>Shop List</h1>
            </div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Shop List
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION SHOP -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div
              class="row align-items-center justify-content-between pb-1 mb-4"
            >
              <div class="col-auto">
                <span class="align-middle">Showing 1-9 of 50 results</span>
              </div>
              <div class="col-auto">
                <div class="custom_select">
                  <select>
                    <option value="default">Default sorting</option>
                    <option value="popularity">Sort by popularity</option>
                    <option value="date">Sort by newness</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row shop_container grid_view">
              <div class="col-lg-4 col-sm-6">
                <div class="product">
                  <span class="pr_flash">Sale</span>
                  <div class="product_img">
                    <a href="#"
                      ><img src="../images/product_img1.jpg" alt="product_img1"
                    /></a>
                    <div class="product_action_box">
                      <ul class="list_none pr_action_btn">
                        <li>
                          <a href="#" class="btn btn-default rounded-0"
                            >Buy now</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product_info">
                    <h6 class="product_title">
                      <a href="#">yoga mat For Exercises</a>
                    </h6>
                    <span class="price"
                      ><del>$35.00</del><ins>$23.00</ins></span
                    >
                    <div class="rating">
                      <div class="product_rate" style="width: 80%"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="product">
                  <div class="product_img">
                    <a href="#"
                      ><img src="../images/product_img2.jpg" alt="product_img2"
                    /></a>
                    <div class="product_action_box">
                      <ul class="list_none pr_action_btn">
                        <li>
                          <a href="#" class="btn btn-default rounded-0"
                            >Buy now</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product_info">
                    <h6 class="product_title"><a href="#">Running Shoes</a></h6>
                    <span class="price"
                      ><del>$35.00</del><ins>$45.00</ins></span
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="product">
                  <span class="pr_flash">-25%</span>
                  <div class="product_img">
                    <a href="#"
                      ><img src="../images/product_img3.jpg" alt="product_img3"
                    /></a>
                    <div class="product_action_box">
                      <ul class="list_none pr_action_btn">
                        <li>
                          <a href="#" class="btn btn-default rounded-0"
                            >Buy now</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product_info">
                    <h6 class="product_title">
                      <a href="#">Cotton Yoga Strap</a>
                    </h6>
                    <span class="price"><ins>$45.00</ins></span>
                    <div class="rating">
                      <div class="product_rate" style="width: 92%"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="product">
                  <div class="product_img">
                    <a href="#"
                      ><img src="../images/product_img4.jpg" alt="product_img4"
                    /></a>
                    <div class="product_action_box">
                      <ul class="list_none pr_action_btn">
                        <li>
                          <a href="#" class="btn btn-default rounded-0"
                            >Buy now</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product_info">
                    <h6 class="product_title">
                      <a href="#">Plastic 900 ml Bottle</a>
                    </h6>
                    <span class="price"
                      ><del>$35.00</del><ins>$12.00</ins></span
                    >
                    <div class="rating">
                      <div class="product_rate" style="width: 85%"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="product">
                  <span class="pr_flash">-25%</span>
                  <div class="product_img">
                    <a href="#"
                      ><img src="../images/product_img5.jpg" alt="product_img5"
                    /></a>
                    <div class="product_action_box">
                      <ul class="list_none pr_action_btn">
                        <li>
                          <a href="#" class="btn btn-default rounded-0"
                            >Buy now</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product_info">
                    <h6 class="product_title">
                      <a href="#">Purple 6 mm Yoga Mat</a>
                    </h6>
                    <span class="price"><ins>$25.00</ins></span>
                    <div class="rating">
                      <div class="product_rate" style="width: 92%"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="product">
                  <div class="product_img">
                    <a href="#"
                      ><img src="../images/product_img6.jpg" alt="product_img6"
                    /></a>
                    <div class="product_action_box">
                      <ul class="list_none pr_action_btn">
                        <li>
                          <a href="#" class="btn btn-default rounded-0"
                            >Buy now</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product_info">
                    <h6 class="product_title">
                      <a href="#">Yoga Fitness Exercise Ball</a>
                    </h6>
                    <span class="price"
                      ><del>$15.00</del><ins>$13.00</ins></span
                    >
                    <div class="rating">
                      <div class="product_rate" style="width: 72%"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="product">
                  <span class="pr_flash">-20%</span>
                  <div class="product_img">
                    <a href="#"
                      ><img src="../images/product_img7.jpg" alt="product_img7"
                    /></a>
                    <div class="product_action_box">
                      <ul class="list_none pr_action_btn">
                        <li>
                          <a href="#" class="btn btn-default rounded-0"
                            >Buy now</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product_info">
                    <h6 class="product_title">
                      <a href="#">Purple Yoga Mat Bag</a>
                    </h6>
                    <span class="price"><ins>$18.00</ins></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="product">
                  <div class="product_img">
                    <a href="#"
                      ><img src="../images/product_img8.jpg" alt="product_img8"
                    /></a>
                    <div class="product_action_box">
                      <ul class="list_none pr_action_btn">
                        <li>
                          <a href="#" class="btn btn-default rounded-0"
                            >Buy now</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product_info">
                    <h6 class="product_title"><a href="#">Yoga Dress</a></h6>
                    <span class="price"
                      ><del>$29.00</del><ins>$36.00</ins></span
                    >
                    <div class="rating">
                      <div class="product_rate" style="width: 72%"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="product">
                  <div class="product_img">
                    <a href="#"
                      ><img src="../images/product_img9.jpg" alt="product_img9"
                    /></a>
                    <div class="product_action_box">
                      <ul class="list_none pr_action_btn">
                        <li>
                          <a href="#" class="btn btn-default rounded-0"
                            >Buy now</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product_info">
                    <h6 class="product_title">
                      <a href="#">Yoga Mat Towels</a>
                    </h6>
                    <span class="price"
                      ><del>$22.00</del><ins>$18.00</ins></span
                    >
                    <div class="rating">
                      <div class="product_rate" style="width: 72%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3 mt-lg-4">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"
                      ><i class="ion-ios-arrow-thin-left"></i
                    ></a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#"
                      ><i class="ion-ios-arrow-thin-right"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION SHOP -->

    <!-- START FOOTER -->
    <%- include('./elements/footer') %>
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none"
      ><i class="ion-ios-arrow-up"></i
    ></a>

    <!-- Latest jQuery -->
    <script src="../javascripts/jquery-1.12.4.min.js"></script>
    <!-- jquery-ui js -->
    <script src="../javascripts/jquery-ui.js"></script>
    <!-- popper min js -->
    <script src="../javascripts/popper.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="../javascripts/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="../javascripts/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="../javascripts/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="../javascripts/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="../javascripts/parallax.js"></script>
    <!-- jquery dd js  -->
    <script src="../javascripts/jquery.dd.min.js"></script>
    <!-- countdown js  -->
    <script src="../javascripts/jquery.countdown.min.js"></script>
    <!-- jquery.counterup.min js -->
    <script src="../javascripts/jquery.counterup.min.js"></script>
    <!-- jquery.parallax-scroll js -->
    <script src="../javascripts/jquery.parallax-scroll.js"></script>
    <!-- fit video  -->
    <script src="../javascripts/jquery.fitvids.js"></script>
    <!-- imagesloaded js -->
    <script src="../javascripts/imagesloaded.pkgd.min.js"></script>
    <!-- isotope min js -->
    <script src="../javascripts/isotope.min.js"></script>
    <!-- cookie js -->
    <script src="../javascripts/js.cookie.js"></script>
    <!-- scripts js -->
    <script src="../javascripts/scripts.js"></script>
  </body>
</html>
